<html>
{% load static %}

<head>
    <title>IMedical Diagnosis System</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <h1>Intelligent Medical Diagnosis System</h1>
    <h3 style=><font color="CadetBlue"><i>identify possible conditions and treatment related to your symptoms</i></font></h3>
</head>


<body>
    <div class="tab">
        <button class="tablink" onclick="openPage('PatientInfo', this, '#777')"id="defaultOpen">PatientInfo</button>
        <button class="tablink" onclick="openPage('Symptoms', this, '#777')" >Symptoms</button>
        <button class="tablink" onclick="openPage('Conditions', this, '#777')">Conditions</button>
        <button class="tablink" onclick="openPage('Treatment', this, '#777')">Treatment</button>
    </div>

    <div id="PatientInfo" class="tabcontent">
    <h3     >PatientInfo</h3>
    <p>Home is where the heart is..</p>
    </div>

    <div id="Symptoms" class="tabcontent">
    <h3>Symptoms</h3>
    <p>Some news this fine day!</p>
    </div>

    <div id="Conditions" class="tabcontent">
    <h3>Conditions</h3>
    <p>Get in touch, or swing by for a cup of coffee.</p>
    </div>

    <div id="Treatment" class="tabcontent">
    <h3>Treatment</h3>
    <p>Who we are and what we do.</p>
    </div> 

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.backgroundColor = "gainsboro"; 
    tabcontent[i].style.color= "black";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
</body>

</html>